#login{
	padding-top: 82px;
	padding-bottom: 177px;
}
.login_block{
	margin: 0 auto;
	width: 475px;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
	        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
	border-radius: 30px;
	padding: 32px 64px;
	text-align: center;
}
.login_block h1{
	font-weight: bold;
	font-size: 28px;
	line-height: 1.3;
	text-align: center;
	color: #000000;
}
.login_block form{
	margin-top: 32px;
}
.input_block{
	width: 100%;
	height: 50px;
	border: 1px solid #DDDDDD;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 3px;
	position: relative;
	margin-bottom: 13px;
}
.input_block span{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	font-weight: 300;
	font-size: 16px;
	line-height: 1;
	color: #999999;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-left: 15px;
	border-radius: 3px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.input_block span.a{
	top: 0;
	margin-top: -10px;
	left: 18px;
	width: 70px;
	height: 20px;
	font-size: 14px;
	color: #333333;
	background: #fff;
}
.input_block input{
	width: 100%;
	height: 100%;
	padding-left: 21px;
	font-weight: 600;
	font-size: 16px;
	color: #000000;
	border-radius: 3px;
}
.login_block a{
	margin-top: 13px;
	text-align: center;
	font-size: 16px;
	line-height: 1;
	color: #EE4B18;
	position: relative;
}
.login_block a:after{
	content: '';
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #EE4B18;
	position: absolute;
	opacity: 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.login_block a:hover:after{
	opacity: 1;
}
.login_block button{
	margin-top: 35px;
	display: block;
	width: 100%;
	height: 50px;
	background: -o-linear-gradient(164.52deg, #C94D26 1.69%, #FF3D00 162.62%);
	background: linear-gradient(285.48deg, #C94D26 1.69%, #FF3D00 162.62%);
	border-radius: 100px;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
}
.login_block button{
	background: -o-linear-gradient(164.52deg, #C94D26 60.69%, #FF3D00 162.62%);
	background: linear-gradient(285.48deg, #C94D26 60.69%, #FF3D00 162.62%);
}