#all-g{
	padding-top: 10px;
	padding-bottom: 90px;
}
.all-g_head{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.all-g_subtitle{
	margin-top: 7px;
}
.all-g_head p{
	font-size: 14px;
	line-height: 1;
	color: #999999;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}
.all-g_head p span{
	padding-left: 9px;
	font-weight: bold;
	font-size: 14px;
	line-height: 1;
	color: #000000;
}
.all-g_card_list{
	margin-top: 35px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.all-g_card_item{
	width: calc( (100% / 4) - (90px / 4) );
	margin-right: 30px;
	margin-bottom: 30px;
}
.all-g_card_item:nth-child(4n){
	margin-right: 0;
}
.all-g_view_btn_box{
	margin-top: 55px;
	text-align: center;
}
.all-g_view_btn_box button{
	width: 234px;
	height: 50px;
	border: 1px solid #4A4A4A;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 50px;
	font-weight: 600;
	font-size: 14px;
	color: #000000;
	background: transparent;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.all-g_view_btn_box button:hover{
	border: 1px solid #EE4B18;
	color: #EE4B18;
}